# This is just used to semi-hard pin package versions for Github Actions and their dependency graph system.
cftime==1.6.4.post1
fsspec==2025.9.0
metacsv==0.1.1
muuttaa==0.1.1
numpy==2.3.3
pandas==2.3.2
xhistogram==0.3.2
xarray==2025.9.0
pytest==8.4.2
pytest-cov==6.3.0
ruff==0.12.12